/* Common */
:root {
    /* text */
    --text-primary: "Roboto", "Arial", sans-serif;

    /* common colors (include text color) */
    --color-text-primary: rgba(0, 0, 0, 1);
    --color-text-secondary: rgba(245, 245, 245, 1);
    --color-text-alternanive: rgba(35, 147, 188, 1);
    --color-text-pink: rgb(73, 115, 103);
    --color-text-dark: rgb(29, 29, 29, 1);
    --color-text-finish: rgb(29, 80, 28, 1);
    --color-text-finish-hover: rgb(17, 239, 9, 1);

    --color-text-button-light: rgba(13, 110, 253, 1);
    --color-text-button-dark: rgba(16, 149, 193, 1);


    /* background */
    --color-background-body-light: rgb(255, 255, 255, 1);
    --color-background-body-dark: rgba(29, 29, 29, 1);
    --color-background-body-dark2: rgba(50, 50, 50, 1);
    --color-background-body-dark3: rgba(170, 170, 170, 0.5);
    --color-background-body-dark4: rgba(210, 210, 210, 1);
    --color-background-section-dark: rgba(20, 30, 38, 1);
    --color-background-hr: rgba(191, 51, 77, 1);
    --color-background-hr1: rgba(225, 148, 58, 1);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    transition: 1s;
    font-family: var(--text-primary);
    min-height: 100%;
    background-color: var(--color-background-body-dark4);
}

.height-constraint {
    overflow-y: auto;
}

.title {
    color: var(--color-text-secondary);
    font-weight: 700;
    padding-left: 400px;
}

.home-row {
    height: 80vh;
}

.home-title{
    font-size: 28px;
    color: var(--color-background-hr);
    font-weight: 700;
    /*padding-left: 400px;*/
    text-align: center;
}

.high{
    padding-top: 5%;
}

.home-goal {
    text-align: center;
    width: 85%;
    padding-left: 20%;
}

.home-image {
    padding-top: 10%;
}

.production-image {
    width: 100%;
}

.user {
    color: var(--color-text-alternanive);
    font-weight: 700;
}


.hr-line {
    border-top: 10px solid var(--color-background-hr);
    opacity: 1;
}

.hr-line1 {
    border-top: 10px solid var(--color-background-hr1);
    opacity: 1;
}
/*hr {*/
/*    border: none;*/
/*    border-top: 3px double #333;*/
/*    color: #333;*/
/*    overflow: visible;*/
/*    text-align: center;*/
/*    height: 5px;*/
/*}*/
/*hr:after {*/
/*    background: #fff;*/
/*    content: '§';*/
/*    padding: 0 4px;*/
/*    position: relative;*/
/*    top: -13px;*/
/*}*/


.aside_menu {
    background-color: var(--color-background-body-dark3);
    height: 100%;
    padding: 3vh 20px;
    border-right: 3px solid var(--color-background-body-dark2);
}

.title_h {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--color-text-primary);
    font-weight: 700;
    padding-left: 30px;
}

.title_s {
    color: var(--color-text-primary);
    font-weight: 700;
}

.list_menu {
    list-style: none;
    padding: 0;
}

.list_menu_sub {
    list-style: none;
    padding: 0;
}
li.item_menu,
li.item_menu_sub{
    margin: 10px 0;
}


.link_menu {
    font-size: 22px;
    color: var(--color-text-primary);
    text-decoration: none;
    cursor: pointer;
    border-left: 2px solid var(--color-text-primary);
    padding-left: 10px;
}

.link_menu_sub {
    font-size: 22px;
    color: var(--color-text-dark);
    text-decoration: none;
    cursor: pointer;
    border-left: 2px solid var(--color-text-primary);
    margin-left: 20px;
    padding-left: 10px;
}
.link_menu_active {
    font-size: 22px;
    text-decoration: none;
    color: var(--color-text-alternanive);
    padding-left: 15px;
    border-left: 2px solid var(--color-text-alternanive);
}

.link_menu_sub_active {
    font-size: 22px;
    text-decoration: none;
    color: var(--color-text-alternanive);
    margin-left: 20px;
    padding-left: 15px;
    border-left: 2px solid var(--color-text-alternanive);
}

.link_menu:hover {
    color: var(--color-text-alternanive);
    padding-left: 15px;
    transition: all 0.3s ease;
    border-left: 2px solid var(--color-text-alternanive);
}

.link_menu_sub:hover {
    color: var(--color-text-alternanive);
    padding-left: 15px;
    transition: all 0.3s ease;
    border-left: 2px solid var(--color-text-alternanive);
}

.link_menu:active {
    color: var(--color-text-alternanive);
    padding-left: 15px;
    border-left: 2px solid var(--color-text-alternanive);
}

.link_menu_sub:active {
    color: var(--color-text-alternanive);
    padding-left: 15px;
    border-left: 2px solid var(--color-text-alternanive);
}

.item_menu,
.item_menu_sub{
    margin: 20px 0;
}

.link_menu_sub_finish {
    font-size: 22px;
    color: var(--color-text-finish);
    text-decoration: none;
    cursor: pointer;
    border-left: 2px solid var(--color-text-finish);
    margin-left: 20px;
    padding-left: 10px;
}

.link_menu_sub_finish:hover {
    color: var(--color-text-alternanive);
    padding-left: 13px;
    transition: all 0.3s ease;
    border-left: 2px solid var(--color-text-alternanive);
}

.free {
    background-color: var(--color-background-body-dark4);
    padding: 20px 20px calc(8vh) 20px;
    /*padding-bottom: calc(8vh);*/
}

.instruction_h,
.text_h {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.text_h1 {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.text_p1 {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}

.text_p {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.text_n1  {
    min-width: 2em;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
}

.text_n {
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    text-decoration: none;
    padding: 0 2px 0 2px;
}


.text_a.tx{
    text-decoration: none;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 400;
    padding: 0 2px 0 2px;
}

.text_a.ty{
    text-decoration: none;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 0 5px;
}


.text_a.tx:hover{
    text-decoration: none;
    background-color: var(--color-text-button-light);
    color: var(--color-text-secondary);
    cursor: pointer;
    transform: scale(1.2);
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 0 5px;
}

.text_b.tx{
    text-decoration: none;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 0 5px;
}

.text_b.tx:hover{
    text-decoration: none;
    background-color: var(--color-text-button-light);
    color: var(--color-text-secondary);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 0 5px;
}

.th {
    background-color: red;
    color: var(--color-text-secondary);
}

.tm {
    color: var(--text-primary);
}

.instruction_item {
    font-size: 18px;
    font-weight: 400;
}

.table_sm {
    font-size: 18px;
}

.td_st {
    font-weight: 700;
}


#flexSwitchCheckChecked {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    transition: transform 500ms ease;
}

.btn:hover {
    transform: scale(1.03);
}

/*#numbered-list {*/
/*    counter-reset: section; !* Сброс счетчика перед каждым списком ol *!*/
/*    list-style-type: none; !* Убираем стандартную нумерацию *!*/
/*    padding-left: 0; !* Убрать внутренний отступ у списка *!*/

/*    !*list-style: none;*!*/
/*    !*counter-reset: section; !* Сброс счетчика *!*!*/
/*    !*padding-left: 0; !* *!*/
/*}*/

/*#numbered-list {*/
/*    counter-increment: section; !* Увеличиваем счетчик для каждого пункта li *!*/
/*}*/

/*#numbered-list > li::before {*/
/*    content: counters(section, ".") " "; !* Использование счетчика с разделителем *!*/
/*}*/

#sublist {
    list-style-type: lower-alpha;
    /*list-style: none;*/
    margin-left: 20px; /* Отступ для подпунктов */
    padding-left: 0; /* Убрать внутренний отступ у подсписка */
}

/*#sublist > li {*/
/*    counter-reset: subsection; !* Сброс счетчика для подпунктов *!*/
/*}*/

/*#sublist > li::before {*/
/*    !*content: counters(section, ".") " "; !* Вставляем значение счетчика перед каждым пунктом *!*!*/
/*    !*font-weight: bold; !* Делаем нумерацию жирной *!*!*/
/*    counter-increment: subsection;*/
/*    content: counters(section, ".") "." counters(subsection, ".") " ";*/
/*    !* Увеличение счетчика подпунктов *!*/
/*}*/

