<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <title>Divisions</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-2">
            <div>
                <a class="btn btn-primary my-5 " th:href="@{/}">Back to main page</a>
            </div>
        </div>
        <div class="col-xl-8 text-center my-5">
            <h1>Divisions</h1>
            <h3>Create new division</h3>
            <form method="post">
<!--                <label class="form-label d-block me-1" >-->
<!--                    Number (unique) <input class="form-control" type="number" name="number">-->
<!--                </label>-->
                <label class="form-label d-block me-1" >
                    Name (unique) <input class="form-control" type="text" name="name">
                </label>
                <br/>
                <label class="form-label d-block me-1">
                    Division Types
                    <select class="form-select"  aria-label="Default select example" name="divisionTypeId">
                        <option th:each="type: ${types}" th:value="${type.id}" th:text="${type.name}">
                        </option>
                    </select>
                </label>
                <br/>
                <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}">
                <input class="btn btn-primary my-5 " type="submit">
            </form>

<!--            <div style="color: green" th:text="${message}"></div>-->
<!--            <div style="color: red" th:text="${error}"></div>-->
            <h3>Your divisions</h3>
            <table  class="table">
                <thead>
                <tr>
                    <th th:scope="col">Id</th>
<!--                    <th th:scope="col">Number</th>-->
                    <th th:scope="col">Name</th>
                    <th th:scope="col">Type</th>
                    <th th:scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="division: ${divisions}">
                    <td th:scope="row" th:text="${division.id}"></td>
<!--                    <td th:text="${division.number}"></td>-->
                    <td th:text="${division.name}"></td>
                    <td th:text="${division.divisionType.name}"></td>
                    <td>
                        <a th:text="Edit" th:href="@{/divisions/edit/{id}(id=${division.id})}" />
                        |
                        <a th:text="Delete" th:href="@{/divisions/delete/{id}(id=${division.id})}" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xl-2 my-5">
            <p>Welcome: <span th:text="${#authentication.name}"></span></p>
            <div>
                <a class="btn btn-primary my-5 " th:href="@{/divisions/types}">Go to Division Types</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

</body>
</html>
