<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link media="all" rel="stylesheet" href="@{static/css/style.css}" type="text/css">
    <title>Production Plans</title>
    <style>
        .table {
            font-size: 12px;
        }
        .days {
            display: inline-block;
            width: 40px;
            /*font-size: 12px;*/
        }
        #totalPlan1 {
            margin-left: 20px;
        }
        .colEquipment {
            display: inline-block;
            width: 80px;
            /*font-size: 12px;*/
        }
        .itemPlan {
            background-color: red;
            color: red;
            width: 80px;
            display: inline-block;
            border: 1px solid black;
        }

        .itemPlan:hover {
            background-color: darkgreen;
            color: darkgreen;
        }

        .itemPlan:active {
            background-color: darkgreen;
            color: darkgreen;
            /*box-shadow: 0 5px #0a0a0a;*/
            scale: 1.05;
            transform: translateY(2px);
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
            <div>
                <a class="btn btn-primary my-2 " th:href="@{/}">Back to main page</a>
            </div>
            <div>
                <p>Welcome: <span th:text="${#authentication.name}"></span></p>
            </div>
        </div>
        <div class="col-xl-10 text-center my-5">
            <h1>Production Plans</h1>
        </div>
    </div>
</div>

<div class="text-center">
    <h3>Chart</h3>
<!--    <div>-->
<!--        <canvas id="totalPlan" th:width="1000px" th:height="300px"></canvas>-->
<!--    </div>-->
<!--    <div>-->
<!--        <canvas id = "totalPlan2" th:width="1000px" th:height="300px"></canvas>-->
<!--    </div>-->

</div>

        <div  id="totalPlan1" >
            <table class="table">
                <thead>
                <tr>
                    <th class="colEquipment" th:scope="col"><span>Equipment</span></th>
                    <th th:scope="col"
                        class="days"
                        th:each="day: ${days}" th:text="${day}">
                    </th>
                </tr>
                </thead>
                <tbody>
                   <tr th:each="equipment: ${equipmentList}">
                       <td class="colEquipment" th:scope="col" th:text="${equipment.number + ':' + equipment.name}"></td>
                       <th th:each="day: ${days}" th:scope="col" class="days">
                           <details>
                                <summary class="sum-item">Lists</summary>
                                <p th:each="d: ${days}">
                                     <span>11111111111111111111</span>
                                </p>
                           </details>
                       </th>
<!--                       <td>-->
<!--                           <details>-->
<!--                               <summary class="sum-item">Project Lists</summary>-->
<!--                               <p th:each="p: ${project.projectLists}">-->
<!--                                   &lt;!&ndash;                                <span th:text="${p.assembly.number + ' : ' + p.assembly.name + ' - ' + p.amount}"></span>&ndash;&gt;-->
<!--                                   <span th:text="${p.part.number + ' : ' + p.part.name + ' - ' + p.amount}"></span>-->
<!--                               </p>-->
<!--                           </details>-->
<!--                           <span class="itemPlan"-->
<!--                                  th:each="plan: ${equipment.productionPlans}"-->
<!--                                  th:text="${plan.number}"-->
<!--                           ></span>-->
<!--                           &lt;!&ndash;                               th:width="${(plan.task.operationTime * 8) + 'px'}"&ndash;&gt;-->
<!--                       </td>-->
                   </tr>
                </tbody>
            </table>
        </div>
       <div>
        <h3 class="text-center">Data</h3>
        <table class="table">
            <thead>
            <tr>
                <th th:scope="col">Id</th>
                <th th:scope="col">Number</th>
                <th th:scope="col">Equipment</th>
                <th th:scope="col">Current Start</th>
                <th th:scope="col">Task</th>
                <th th:scope="col">Condition</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p: ${productionPlans}">
                <td th:scope="row" th:text="${p.id}"></td>
                <td th:text="${p.number}"></td>
                <td th:text="${p.equipment.number + ' : ' + p.equipment.name}"></td>
                <td th:text="${p.currentStart}"></td>
                <td>
                    <details>
                        <summary class="sum-item">Task</summary>
                        <p th:text="${'projectNumber : ' + p.task.projectNumber}"></p>
                        <p th:text="${'partNumber : ' + p.task.partNumber}"></p>
                        <p th:text="${'partName : ' + p.task.partName}"></p>
                        <p th:text="${'lotNumber : ' + p.task.lotNumber}"></p>
                        <p th:text="${'equipment : ' + p.task.equipment.number + ' : ' + p.task.equipment.name}"></p>
                        <p th:text="${'operationTime : ' + p.task.operationTime}"></p>
                        <p th:text="${'start : ' + p.task.start}"></p>
                    </details>
                </td>
                <td th:text="${p.task.taskCondition.name}"></td>
            </tr>
            </tbody>
        </table>
       </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
<script th:src="@{/js/chart_total.js}"></script>
<!--<script>-->
<!--    // let productionPlans = document.querySelector('productionPlans');-->
<!--    // console.dir(productionPlans);-->


<!--    const ctx = document.getElementById('totalPlan').getContext('2d');-->
<!--    // ctx.canvas.parentNode.style.height = '600px';-->
<!--    // ctx.canvas.parentNode.style.width = '600px';-->
<!--    let labels = ['Токарный', 'Фрезерный'];-->
<!--    let operationTimes = [12, 19];-->
<!--    let dateOp1 = new Date();-->
<!--    let dateOp2 = new Date('July 25, 2023 23:15:30');-->
<!--    // let operationTimes = [{x: ['2023-07-10', '2023-07-20'], y: 'Токарный', }];-->
<!--    // let operationTimes = [{x: [dateOp1], y: 'Токарный', x: [dateOp2], y: 'Фрезерный'}];-->
<!--    // data: [{x: '2016-12-25', y: [10,20]}, {x: '2016-12-26', y: [5,10]}]-->
<!--    new Chart(ctx, {-->
<!--        type: 'bar',-->
<!--        data: {-->
<!--            labels: labels,                         // Значения по Х-->
<!--            datasets: [{-->
<!--                label: 'Project deadlines',         //  Подпись графика-->
<!--                data: operationTimes,               //  Значения по Y-->
<!--                backgroundColor: ['Red'],-->
<!--                borderWidth: 1                      //  Толщина линии-->
<!--            },-->
<!--                {-->
<!--                    label: 'Project deadlines',         //  Подпись графика-->
<!--                    data: operationTimes,         //  Значения по Y-->
<!--                    backgroundColor: ['Purple'],-->
<!--                    borderWidth: 1                      //  Толщина линии-->
<!--                }]-->
<!--        },-->
<!--        // type: 'bar',-->
<!--        // data: {-->
<!--        //     datasets:-->
<!--        //         // [{-->
<!--        //         //     data: {January: 10,-->
<!--        //         //     February: 20}-->
<!--        //         // }]-->
<!--        //     [{-->
<!--        //         data: [{x: '2016-12-25', y: [10,20]}, {x: '2016-12-26', y: [5,10]}]-->
<!--        //     }]-->
<!--        // },-->
<!--        // options: {-->
<!--        //     scales: {-->
<!--        //         y: {-->
<!--        //             beginAtZero: true-->
<!--        //         }-->
<!--        //     },-->
<!--        //     maintainAspectRatio: true-->
<!--        // }-->
<!--        options: {-->
<!--            indexAxis: 'y',-->
<!--            scales: {-->
<!--                    // xAxes: [{-->
<!--                    //     type: 'time'-->
<!--                    //     ,-->
<!--                    //     time: {-->
<!--                    //         min: '2023-07-1',-->
<!--                    //         max: '2023-07-31',-->
<!--                    //         unit: 'day'-->
<!--                    //     }-->
<!--                    // }],-->
<!--                x: {-->
<!--                    stacked: true-->
<!--                },-->
<!--                y: {-->
<!--                    // ticks: {-->
<!--                    //     crossAlign: 'far',-->
<!--                    // },-->
<!--                    stacked: true-->
<!--                }-->


<!--            }-->
<!--        }-->
<!--    });-->

<!--    // Chart.defaults.backgroundColor = '#9BD0F5';      // Указан в функции-->
<!--    Chart.defaults.borderColor = '#36A2EB';             //-->
<!--    Chart.defaults.color = '#000';-->

<!--    // const date = new Date();-->
<!--    // const month = date.getMonth() + 1;-->
<!--    // let day = month.getDay();-->
<!--    // console.log(month);-->
<!--    // console.log(day);-->
<!--</script>-->
</body>
</html>
